/* Archivo: style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del encabezado */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo del formulario */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Estilo de las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

/* Estilo de los campos de entrada */
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilo del botón de envío */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo del botón de envío al pasar el cursor */
input[type="submit"]:hover {
    background-color: #0056b3;
}